#feedback.row.nopadding.skin
  .col-md-12.nopadding
    .padding-50
      .row.nopadding
        .col-md-12.nopadding
          %h3.title-text
            = t("views.content.contact.title")
        .sub-description
          %h5.font-subtitle
            = t("views.content.subtitle")
          %p.font-p
            = t("views.content.contact.p")
  .col-md-12.nopadding
    .padding-page-parts
      %h3.title-text.text-center
        = t("views.content.contact.subtitle")
      .sub-description-resume.text-center
        %h5.font-subtitle
          = t("views.content.sub")
        %p.font-p
          = t("views.content.contact.p_email")
        %p.line-red.text-center
  .col-md-12.nopadding
    .padding-50
      .row.nopadding
        .col-md-2
        .col-md-8.text-center
          = simple_form_for @contact, url: { action: "send_email" }, method: :post do |f|
            .form-group
              = f.input :name, required: true, label: false, input_html: {class: "feedback-data font-subtitle", placeholder: "#{ t('views.content.contact.name') }", maxlength: 30}
              = f.input :email, required: true, as: :email, label: false, input_html: {class: "feedback-data font-subtitle", placeholder: "Email", required: "required"}
              = f.input :subject, required: true, label: false, input_html: {class: "feedback-data font-subtitle", placeholder: "#{ t('views.content.contact.about') }", maxlength: 20}
              = f.input :content, required: true, as: :text, label: false, input_html: {class: "feedback-data font-subtitle", placeholder: "#{ t('views.content.contact.message') } ...."}
            .row
              .col-md-10
                - if action_name == 'contact'
                  = javascript_include_tag 'https://www.google.com/recaptcha/api.js?render=6LcI2XoUAAAAAFNVCA8l9Xs44pqX3OQVN8LK477j', defer: "defer", async: true
                  = invisible_recaptcha_tags ui: :invisible, ajax: true, script: false
              .col-md-2
                = f.button :submit,  "#{ t('views.content.contact.send') }", class: "btn btn-portfolio font-subtitle"
        .col-md-2
  .col-md-12.nopadding
    %section#contact-map
      .padding-50
        #map.map
