#home.row.nopadding.skin
  .col-md-8.nopadding
    #animation.padding-50
      .row.nopadding
        .col-md-12.nopadding
          %h3.title-text 
            = t("views.content.home.about.title")
        .sub-description
          %h5.font-subtitle
            = t("views.content.subtitle")
          %p.font-p
            = t("views.content.home.about.p")
      .row.nopadding
        .col-md-4.nopadding
          .row
            .col-sm-2.col-md-3.sm-pdn
              %i.fas.fa-tasks.fa-cs{"aria-hidden" => "true"}
            .col-sm-10.col-md-9.nw-padding
              %h5.font-subtitle
                = t("views.content.home.about.second_title.subtitle1")
              %p.font-p
                = t("views.content.home.about.second_title.p1")
        .col-md-4.nopadding
          .row
            .col-sm-2.col-md-3.sm-pdn
              %i.fab.fa-cloudscale.fa-cs{"aria-hidden" => "true"}
            .col-sm-10.col-md-9.nw-padding
              %h5.font-subtitle
                = t("views.content.home.about.second_title.subtitle2")
              %p.font-p
                = t("views.content.home.about.second_title.p2")
        .col-md-4.nopadding
          .row
            .col-sm-2.col-md-3.sm-pdn
              %i.fas.fa-hourglass-end.fa-cs{"aria-hidden" => "true"}
            .col-sm-10.col-md-9.nw-padding
              %h5.font-subtitle
                = t("views.content.home.about.second_title.subtitle3")
              %p.font-p
                = t("views.content.home.about.second_title.p3")
  .col-md-4.nopadding.w-grey
    .padding-50
      %h3.title-text
        = t("views.content.home.personal_info.title")
      .personal-data
        .font-subtitle
          = t("views.content.home.personal_info.name")
        .font-p
          Alirio Jose Diaz Sanchez
      .personal-data
        .font-subtitle
          = t("views.content.home.personal_info.location")
        .font-p
          Chile - Region Metropolitana - Estacion Central
      .personal-data
        .font-subtitle
          = t("views.content.home.personal_info.phone")
        .font-p
          +56936864310
      .personal-data
        .font-subtitle
          = t("views.content.home.personal_info.email")
        .font-p
          aliriodiaz111@gmail.com
.row.nopadding.cyan
  .col-xs-12.col-sm-12.col-md-4.nopadding
    .padding-50
      %h3.title-text
        = t("views.content.home.pro_experience.title")
      = render 'front/sections/content/home/carousel/pro_experience'
  .col-xs-12.col-sm-12.col-md-8.nopadding.blue
    .padding-50
      %h3.title-text
        = t("views.content.home.pro_skills.title")
      = render 'front/sections/content/home/carousel/pro_skills'
