#resume.row.nopadding.skin
  .col-md-12.nopadding
    .padding-50
      .row.nopadding
        .col-md-12.nopadding
          %h3.title-text
            = t("views.content.resume.title")
        .sub-description
          %h5.font-subtitle 
            = t("views.content.subtitle")
          %p.font-p
            = t("views.content.resume.p")
  .col-md-12.noppading.w-grey
    .padding-50
      %h3.title-text.text-center
        = t("views.content.resume.personal_q.title")
      %p.font-p.text-center
        = t("views.content.resume.personal_q.p")
      .row.nopadding
        .padding-50
          .col-md-3
            .row.text-center.icons-padding
              .col-md-12
                %i.fa.fa-cogs.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle
                  = t("views.content.resume.personal_q.q1")
          .col-md-3
            .row.text-center.icons-padding
              .col-md-12
                %i.fa.fa-code.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle
                  = t("views.content.resume.personal_q.q2")
          .col-md-3
            .row.text-center.icons-padding
              .col-md-12
                %i.fa.fa-rocket.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle
                  = t("views.content.resume.personal_q.q3")
          .col-md-3
            .row.text-center.icons-padding
              .col-md-12
                %i.fab.fa-hubspot.fa-cs{"aria-hidden" => "true"}
              .col-md-12
                %h5.font-subtitle
                  = t("views.content.resume.personal_q.q4")
  .col-md-12.nopadding
    .padding-page-parts
      %h3.title-text.text-center
        = t("views.content.resume.pro_timeline.title")
      .sub-description-resume.text-center
        %h5.font-subtitle
          = t("views.content.sub")
        %p.line-red.text-center
  .col-md-12.nopadding
    .padding-page-parts
      .education
        .text-left.title-text 
          = t("views.content.resume.pro_timeline.education.title")
  .col-md-12.nopadding
    .padding-50
      .container-fluid.padding-item        
        .col-xs-2.col-sm-2.col-md-2
          .text-center
            .btn.btn-collapse{"type" => "button", "aria-controls" => "collapse-education1", "aria-expanded" => "true", "data-target" => "#collapse-education1", "data-toggle" => "collapse"}
              %i.fas.icon
        .col-xs-10.col-sm-10.col-md-10.border-line
          .card
            .card-header
              .font-subtitle
                = t("views.content.resume.pro_timeline.education.edu_1.title")
            #collapse-education1.collapse.in
              .card-body
                %p
                  = t("views.content.resume.pro_timeline.education.edu_1.p")
      .container-fluid.padding-item
        .col-xs-2.col-sm-2.col-md-2
          .text-center
            .btn.btn-collapse.collapsed{type: "button", 'data-toggle': "collapse", 'data-target': "#collapse-education3", 'aria-expanded': "false", 'aria-controls': "collapse-education3"}
              %i.fas.icon
        .col-xs-10.col-sm-10.col-md-10.border-line
          .card
            .card-header
              .font-subtitle
                = t("views.content.resume.pro_timeline.education.edu_2.title")
            #collapse-education3.collapse
              .card-body
                %p
                  = t("views.content.resume.pro_timeline.education.edu_2.p")

  .col-md-12.nopadding
    .padding-page-parts
      .experience
        .text-left.title-text 
          = t("views.content.resume.pro_timeline.work.title")
        .text-left.font-subtitle 
          = "2013 - "+"#{ t('views.content.resume.pro_timeline.now') }"
  .col-md-12.nopadding
    .padding-50
      .container-fluid.padding-item
        .col-xs-1.col-sm-2.col-md-2
          .text-right
            .btn.btn-danger.disabled.btn-cs.fetch-resume{role: "button", 'aria-disabled': "false"}
              = " #{"2019"} + #{ t('views.content.resume.pro_timeline.now') }"
        .col-xs-1.col-sm-1.col-md-1
          .btn.btn-collapse{type: "button", 'data-toggle': "collapse", 'data-target': "#collapse-experience1", 'aria-expanded': "true", 'aria-controls': "collapse-experience1"}
            %i.fas.icon
        .col-xs-10.col-sm-9.col-md-9.border-line
          .card
            .card-header
              .font-subtitle
                = t("views.content.resume.pro_timeline.work.work_5.title")
            #collapse-experience1.collapse.in
              .card-body
                %p
                  = t("views.content.resume.pro_timeline.work.work_5.p")
      .container-fluid.padding-item
        .col-xs-1.col-sm-2.col-md-2
          .text-right
            .btn.btn-danger.disabled.btn-cs.fetch-resume{role: "button", 'aria-disabled': "false"}
              2019 - 2019
        .col-xs-1.col-sm-1.col-md-1
          .btn.btn-collapse.collapsed{type: "button", 'data-toggle': "collapse", 'data-target': "#collapse-experience5", 'aria-expanded': "false", 'aria-controls': "collapse-experience5"}
            %i.fas.icon
        .col-xs-10.col-sm-9.col-md-9.border-line
          .card
            .card-header
              .font-subtitle
                = t("views.content.resume.pro_timeline.work.work_4.title")
            #collapse-experience5.collapse
              .card-body
                %p
                  = t("views.content.resume.pro_timeline.work.work_4.p")
      .container-fluid.padding-item
        .col-xs-1.col-sm-2.col-md-2
          .text-right
            .btn.btn-danger.disabled.btn-cs.fetch-resume{role: "button", 'aria-disabled': "false"}
              2017 - 2019
        .col-xs-1.col-sm-1.col-md-1
          .btn.btn-collapse.collapsed{type: "button", 'data-toggle': "collapse", 'data-target': "#collapse-experience4", 'aria-expanded': "false", 'aria-controls': "collapse-experience4"}
            %i.fas.icon
        .col-xs-10.col-sm-9.col-md-9.border-line
          .card
            .card-header
              .font-subtitle
                = t("views.content.resume.pro_timeline.work.work_1.title")
            #collapse-experience4.collapse
              .card-body
                %p
                  = t("views.content.resume.pro_timeline.work.work_1.p")
      .container-fluid.padding-item
        .col-xs-1.col-sm-2.col-md-2
          .text-right
            .btn.btn-danger.disabled.btn-cs.fetch-resume{role: "button", 'aria-disabled': "false"}
              2016 - 2017
        .col-xs-1.col-sm-1.col-md-1
          .btn.btn-collapse.collapsed{type: "button", 'data-toggle': "collapse", 'data-target': "#collapse-experience2", 'aria-expanded': "false", 'aria-controls': "collapse-experience2"}
            %i.fas.icon
        .col-xs-10.col-sm-9.col-md-9.border-line
          .card
            .card-header
              .font-subtitle
                = t("views.content.resume.pro_timeline.work.work_2.title")
            #collapse-experience2.collapse
              .card-body
                %p
                  = t("views.content.resume.pro_timeline.work.work_2.p")
      .container-fluid.padding-item
        .col-xs-1.col-sm-2.col-md-2
          .text-right
            .btn.btn-danger.disabled.btn-cs.fetch-resume{role: "button", 'aria-disabled': "false"}
              2013 - 2014
        .col-xs-1.col-sm-1.col-md-1
          .btn.btn-collapse.collapsed{type: "button", 'data-toggle': "collapse", 'data-target': "#collapse-experience3", 'aria-expanded': "false", 'aria-controls': "collapse-experience3"}
            %i.fas.icon
        .col-xs-10.col-sm-9.col-md-9.border-line
          .card
            .card-header
              .font-subtitle
                = t("views.content.resume.pro_timeline.work.work_3.title")
            #collapse-experience3.collapse
              .card-body
                %p
                  = t("views.content.resume.pro_timeline.work.work_3.p")
