!!!
%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title Document
  %body{style: "padding: 20px; font-family: 'Raleway', sans-serif" }
    .title{style: 'background: #3498db; padding: 15px;'}
      %h1{style: 'color: #dedede; text-align: center; font-size: 35px;'}
        = t("views.content.contact.email.title")+" #{@contact.name} "+'!'
    .content{style: 'padding: 20px 15px; background: #dedede;'}
      %p{style: 'font-size: 25px;'}
        = t("views.content.contact.email.hi")+", #{@contact.name}. "+t("views.content.contact.email.p1") 
      %p{style: 'text-align: right; padding-top: 20px; font-size: 16px; font-style: oblique;'}
        = t("views.content.contact.email.p2")
