#portfolio.row.nopadding.skin
  .col-md-12.nopadding
    .padding-50
      .row.nopadding
        .col-md-12.nopadding
          %h3.title-text
            = t("views.content.portfolio.title")
        .sub-description
          %h5.font-subtitle 
            = t("views.content.subtitle")
          %p.font-p
            = t("views.content.portfolio.p")
  .col-md-12.noppading.w-grey
    .padding-50
      .container-fluid.noppading
        .row
          .col-xs-4.col-sm-4.col-md-4.col-lg-4
            .animation.text-center
              .icon
                %i.far.fa-images.fa-cs
              .integers.font-subtitle 
                3
              .font-p
                WEBSITES
          .col-xs-4.col-sm-4.col-md-4.col-lg-4
            .animation.text-center
              .icon
                %i.fas.fa-laptop-code.fa-cs
              .integers.font-subtitle
                3
              .font-p
                WEB-APPS
          .col-xs-4.col-sm-4.col-md-4.col-lg-4
            .animation.text-center
              .icon
                %i.fas.fa-cart-arrow-down.fa-cs
              .integers.font-subtitle
                1
              .font-p
                E-COMMERCE
  .col-md-12.noppading
    .padding-page-parts
      %h3.title-text.text-center
        = t("views.content.portfolio.subtitle")
      .sub-description-portfolio.text-center
        %h5.font-subtitle
          = t("views.content.sub")
  .col-md-12.noppading
    .padding-page-parts
      .filters
        #filters.button-group.text-center
          %button.btn.btn-portfolio.active.font-p{type: 'button', 'data-filter': '*'}
            ALL
          %button.btn.btn-portfolio.font-p{type: 'button', 'data-filter': '.website'}
            WEBSITE
          %button.btn.btn-portfolio.font-p{type: 'button', 'data-filter': '.web-apps'}
            WEB-APPS
          %button.btn.btn-portfolio.font-p{type: 'button', 'data-filter': '.e-commerce'}
            E-COMMERCE
  .col-md-12.nopadding
    .padding-page-parts
      .row.grid
        .col-xs-12.col-sm-6.col-md-4.element-item.website{'data-category': 'website'}
          .hover-content
            = image_tag('diasan.jpg', alt:'Responsive image', class: 'img-responsive animation-l')
            .overlay.animation
              .container-icon
                .icon-link
                  %a{href: 'http://diasan.herokuapp.com/', target: '_blank'}
                    %i.fas.fa-external-link-square-alt.fa-2x
                .icon-link
                  %a{href: 'https://github.com/aliaz0990/Frontend_DIASAN', target: '_blank'}
                    %i.fab.fa-github-square.fa-2x
              .text-hover
                %h5.font-p DIASAN
                %p.font-p  website
        .col-xs-12.col-sm-6.col-md-4.element-item.website{'data-category': 'website'}
          .hover-content
            = image_tag('portfolio.jpg', alt:'Responsive image', class: 'img-responsive animation-l')
            .overlay.animation
              .container-icon
                .icon-link
                  %a{href: '/'}
                    %i.fas.fa-external-link-square-alt.fa-2x
                .icon-link
                  %a{href: 'https://github.com/aliaz0990/portfolio', target: '_blank'}
                    %i.fab.fa-github-square.fa-2x
              .text-hover
                %h5.font-p PORTFOLIO
                %p.font-p  website
        .col-xs-12.col-sm-6.col-md-4.element-item.web-apps{'data-category': 'web-apps'}
          .hover-content
            = image_tag('notes.jpg', alt:'Responsive image', class: 'img-responsive animation-l')
            .overlay.animation
              .container-icon
                .icon-link
                  %a{href: 'https://notepad-staging.herokuapp.com/es/notes', target: '_blank'}
                    %i.fas.fa-external-link-square-alt.fa-2x
                .icon-link
                  %a{href: 'https://github.com/aliaz0990/notepad', target: '_blank'}
                    %i.fab.fa-github-square.fa-2x
              .text-hover
                %h5.font-p NOTES
                %p.font-p  web-apps
        .col-xs-12.col-sm-6.col-md-4.element-item.e-commerce{'data-category': 'e-commerce'}
          .hover-content
            = image_tag('zavher.png', alt:'Responsive image', class: 'img-responsive animation-l')
            .overlay.animation
              .container-icon
                .icon-link
                  %a{href: 'https://zavher.cl/', target: '_blank'}
                    %i.fas.fa-external-link-square-alt.fa-2x
              .text-hover
                %h5.font-p ZAVHER
                %p.font-p  e-commerce
        .col-xs-12.col-sm-6.col-md-4.element-item.website{'data-category': 'website'}
          .hover-content
            = image_tag('jorgesulbaran.png', alt:'Responsive image', class: 'img-responsive animation-l')
            .overlay.animation
              .container-icon
                .icon-link
                  %a{href: 'https://jorgesulbaran.cl/', target: '_blank'}
                    %i.fas.fa-external-link-square-alt.fa-2x
              .text-hover
                %h5.font-p JORGESULBARAN
                %p.font-p  website
        .col-xs-12.col-sm-6.col-md-4.element-item.web-apps{'data-category': 'web-apps'}
          .hover-content
            = image_tag('exchange-rate.png', alt:'Responsive image', class: 'img-responsive animation-l')
            .overlay.animation
              .container-icon
                .icon-link
                  %a{href: 'https://exchange111pr.herokuapp.com/#/', target: '_blank'}
                    %i.fas.fa-external-link-square-alt.fa-2x
                .icon-link
                  %a{href: 'https://github.com/aliaz0990/exchangeRate', target: '_blank'}
                    %i.fab.fa-github-square.fa-2x
              .text-hover
                %h5.font-p EXCHANGE RATE
                %p.font-p  web-apps
        .col-xs-12.col-sm-6.col-md-4.element-item.web-apps{'data-category': 'web-apps'}
          .hover-content
            = image_tag('eventify.png', alt:'Responsive image', class: 'img-responsive animation-l')
            .overlay.animation
              .container-icon
                .icon-link
                  %a{href: 'https://eventtickets111.herokuapp.com/', target: '_blank'}
                    %i.fas.fa-external-link-square-alt.fa-2x
                .icon-link
                  %a{href: 'https://github.com/aliaz0990/event-tickets', target: '_blank'}
                    %i.fab.fa-github-square.fa-2x
              .text-hover
                %h5.font-p EVENTIFY
                %p.font-p  web-apps
        .col-xs-12.col-sm-6.col-md-4.element-item.web-apps{'data-category': 'web-apps'}
          .hover-content
            = image_tag('colores.png', alt:'Responsive image', class: 'img-responsive animation-l')
            .overlay.animation
              .container-icon
                .icon-link
                  %a{href: 'https://testreactmultiplica.herokuapp.com/', target: '_blank'}
                    %i.fas.fa-external-link-square-alt.fa-2x
                .icon-link
                  %a{href: 'https://github.com/AlirioDS/TestReact', target: '_blank'}
                    %i.fab.fa-github-square.fa-2x
              .text-hover
                %h5.font-p COLORES
                %p.font-p  web-apps
