.container-fluid.bg-front.padding-down
  .padding-50.grey-scale
    .row
      .col-xs-12.col-sm-3.col-md-3.foot-pdng
        %h4.footer-text
          Alirio Diaz
        %p.font-p
          = t("views.footer.career")
        %p.font-p
          = t("views.footer.pro")
      .col-xs-12.col-sm-3.col-md-3.foot-pdng
        %h4.footer-text
          = t("views.footer.CV.download")
        %a.font-p.lenguage.spanish{href: "#"}
          = t("views.footer.CV.spanish")
        %a.font-p.lenguage.english{href: "#"}
          = t("views.footer.CV.english")
      .col-xs-12.col-sm-6.col-md-6.foot-pdng
        %h4.footer-text.text-center
          = t("views.footer.follow")
        .social.text-center
          %a.btn.btn-round.btn-clear.btn-github{href: "https://github.com/aliaz0990", target: "_blank"}
            %i.fab.fa-github
          %a.btn.btn-round.btn-clear.btn-linkedin{href: "https://www.linkedin.com/in/alirio-diaz-298314b8?trk=nav_responsive_tab_profile", target: "_blank"}
            %i.fab.fa-linkedin-in
    .row
      .col-xs-12.col-md-12.col-md-12.copyrights
        %p © 2018 Alirio Díaz
