!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Portfolio
    = csrf_meta_tags
    = csp_meta_tag
    %meta{content: "MsGMviSmnIXYhLTdfcWpeGPmxKnZ9vCwSWZR-sPlGJs", name: "google-site-verification"}/
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBxUMjJ7VRpIWiy56Gyl7WcJNxRwlb8D2I'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.boxed
    - if notice || alert
      .alert.alert-dismissible{:role => "alert", class: "alert-#{notice ? "success" : "danger"}"}
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'alert', :type => 'button'}
          %span{'aria-hidden' => 'true'} ×
        = notice || alert
    .rounding
      .dropdown
        %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          .fas.fa-globe-americas.fa-cs
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
          %li.padding
            = link_to 'English', {locale: 'en'}, {class: "#{'select' if params[:locale] == 'en'}"}
          %li.padding
            = link_to 'Español', {locale: 'es'}, {class: "#{'select' if params[:locale] == 'es'}"}
    = render 'front/sections/header/header'
    = yield
    = render 'front/sections/footer/footer'
